.nav-container{
    padding: 10px 6%;
    background-color: #1C2B35;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 0 1em;
}
.nav-options a:hover{
    cursor: pointer;
    color: #FF9900;
}